.card-group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    /* border: 1px solid purple; */
  }
  
  .cards {
    width: 350px;
    height: auto;
    background-color: rgb(12, 27, 56);
    border-radius: 5px;
    padding: 1rem;
    margin: 0 20px;
    margin-top: 40px;
    /* border: 1px solid yellow; */
  
  }
  h3 {
    color: #fff;
    margin-bottom: 1rem;
  }
  .image {
    width: 99%;
    height: 260px;
    background-color: black;
    position: relative;
  }
  img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: absolute;
  }
  
  p {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 5%;
    color: #fff;
  }
  .image:hover p {
    opacity: 1;
    bottom: 4%;
    transition: all 0.5s ease-in-out;
  }


